# Deep Learning Model with Text Classification in multiple tagging

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Reading and Analysing the data

In [2]:
#reading datasets
data = pd.read_excel('test_assignment.xlsx')

In [3]:
#Analysing Datsets
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6921 entries, 0 to 6920
Data columns (total 2 columns):
String    6921 non-null object
Tag       6731 non-null float64
dtypes: float64(1), object(1)
memory usage: 108.2+ KB

In [4]:
#Checking dataset
data.head()

                                              String  Tag
0  3GPP Technical Specification Group, "Spatial c...  1.0
1  3GPP Technical Specification Group, "Spatial c...  1.0
2  3GPP Technical Specification Group, "Spatial c...  1.0
3  3GPP Technical Specification Group, "Spatial c...  1.0
4  3GPP TR 25.876 V7.0.0 (2007-03), Technical Rep...  2.0

In [5]:
data.shape

(6921, 2)

In [6]:
data.String.nunique()

6920

In [7]:
data.Tag.nunique()

1080

In [8]:
data.isnull().sum()

String      0
Tag       190
dtype: int64

## Feature Engineering

In [9]:
#Removing null values rows from datasets
data_filter = data.dropna(axis=0)

In [10]:
data_filter.shape

(6731, 2)

In [11]:
data_filter.nunique()

String    6730
Tag       1080
dtype: int64

In [12]:
duplicated = data_filter[data_filter.duplicated()]

In [13]:
#Checking duplicate rows in datasets
duplicated

Empty DataFrame
Columns: [String, Tag]
Index: []

In [14]:
#Checking duplicate string in datasets
duplicated_string = data_filter[data_filter.String.duplicated()]

In [15]:
duplicated_string

                                                 String    Tag
1623  Final Office Action from U.S. Patent Applicati...  302.0

In [16]:
#Dropping duplicate string from datasets
data_filter.drop_duplicates(subset ="String", inplace=True)

C:\Users\Abhishek Tyagi\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [17]:
data_filter.shape

(6730, 2)

In [18]:
data_filter.head()

                                              String  Tag
0  3GPP Technical Specification Group, "Spatial c...  1.0
1  3GPP Technical Specification Group, "Spatial c...  1.0
2  3GPP Technical Specification Group, "Spatial c...  1.0
3  3GPP Technical Specification Group, "Spatial c...  1.0
4  3GPP TR 25.876 V7.0.0 (2007-03), Technical Rep...  2.0

In [19]:
data_filter.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6730 entries, 0 to 6920
Data columns (total 2 columns):
String    6730 non-null object
Tag       6730 non-null float64
dtypes: float64(1), object(1)
memory usage: 157.7+ KB