In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
data = pd.read_csv('run_or_walk.csv')

In [3]:
data.shape

(88588, 11)

In [4]:
data.head()

,date,time,username,wrist,activity,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z
0,2017-6-30,13:51:15:847724020,viktor,0,0,0.2650,-0.7814,-0.0076,-0.0590,0.0325,-2.9296
1,2017-6-30,13:51:16:246945023,viktor,0,0,0.6722,-1.1233,-0.2344,-0.1757,0.0208,0.1269
2,2017-6-30,13:51:16:446233987,viktor,0,0,0.4399,-1.4817,0.0722,-0.9105,0.1063,-2.4367
3,2017-6-30,13:51:16:646117985,viktor,0,0,0.3031,-0.8125,0.0888,0.1199,-0.4099,-2.9336
4,2017-6-30,13:51:16:846738994,viktor,0,0,0.4814,-0.9312,0.0359,0.0527,0.4379,2.4922

In [5]:
data.columns

Index(['date', 'time', 'username', 'wrist', 'activity', 'acceleration_x',
       'acceleration_y', 'acceleration_z', 'gyro_x', 'gyro_y', 'gyro_z'],
      dtype='object')

In [6]:
data.activity.unique()

array([0, 1], dtype=int64)

In [7]:
x = data.iloc[:,5:].values

In [8]:
y=data.iloc[:,4].values

In [9]:
from sklearn.naive_bayes import GaussianNB

In [10]:
classifier = GaussianNB()

In [11]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=100)

In [12]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(70870, 6)
(17718, 6)
(70870,)
(17718,)

In [13]:
classifier.fit(x_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [14]:
y_pred = classifier.predict(x_test)

In [15]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [16]:
print(accuracy_score(y_test, y_pred))

0.9546224178801219

In [17]:
print(confusion_matrix(y_test,y_pred))

[[8807   91]
 [ 713 8107]]

In [18]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.93      0.99      0.96      8898
           1       0.99      0.92      0.95      8820

   micro avg       0.95      0.95      0.95     17718
   macro avg       0.96      0.95      0.95     17718
weighted avg       0.96      0.95      0.95     17718

In [19]:
target_names = ['walk', 'run']

In [20]:
print(classification_report(y_test, y_pred, target_names=target_names))

              precision    recall  f1-score   support

        walk       0.93      0.99      0.96      8898
         run       0.99      0.92      0.95      8820

   micro avg       0.95      0.95      0.95     17718
   macro avg       0.96      0.95      0.95     17718
weighted avg       0.96      0.95      0.95     17718

In [21]:
type(data)

pandas.core.frame.DataFrame

In [22]:
data.head()

,date,time,username,wrist,activity,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z
0,2017-6-30,13:51:15:847724020,viktor,0,0,0.2650,-0.7814,-0.0076,-0.0590,0.0325,-2.9296
1,2017-6-30,13:51:16:246945023,viktor,0,0,0.6722,-1.1233,-0.2344,-0.1757,0.0208,0.1269
2,2017-6-30,13:51:16:446233987,viktor,0,0,0.4399,-1.4817,0.0722,-0.9105,0.1063,-2.4367
3,2017-6-30,13:51:16:646117985,viktor,0,0,0.3031,-0.8125,0.0888,0.1199,-0.4099,-2.9336
4,2017-6-30,13:51:16:846738994,viktor,0,0,0.4814,-0.9312,0.0359,0.0527,0.4379,2.4922

In [23]:
x, y = data.iloc[:,[5,6,7]].values, data.iloc[:,4].values

In [24]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=1)

In [25]:
classifier.fit(x_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [26]:
y_pred = classifier.predict(x_test)

In [27]:
target_names=['walk','run']
print(classification_report(y_test,y_pred, target_names=target_names))

              precision    recall  f1-score   support

        walk       0.92      0.99      0.96      8673
         run       0.99      0.92      0.96      9045

   micro avg       0.96      0.96      0.96     17718
   macro avg       0.96      0.96      0.96     17718
weighted avg       0.96      0.96      0.96     17718

In [28]:
accuracy = accuracy_score(y_test,y_pred)
print(accuracy)

0.9565978101365843

In [29]:
data.head()

,date,time,username,wrist,activity,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z
0,2017-6-30,13:51:15:847724020,viktor,0,0,0.2650,-0.7814,-0.0076,-0.0590,0.0325,-2.9296
1,2017-6-30,13:51:16:246945023,viktor,0,0,0.6722,-1.1233,-0.2344,-0.1757,0.0208,0.1269
2,2017-6-30,13:51:16:446233987,viktor,0,0,0.4399,-1.4817,0.0722,-0.9105,0.1063,-2.4367
3,2017-6-30,13:51:16:646117985,viktor,0,0,0.3031,-0.8125,0.0888,0.1199,-0.4099,-2.9336
4,2017-6-30,13:51:16:846738994,viktor,0,0,0.4814,-0.9312,0.0359,0.0527,0.4379,2.4922

In [30]:
x,y = data.iloc[:,8:], data.iloc[:,4]

In [31]:
x.shape

(88588, 3)

In [32]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=1)

In [33]:
classifier.fit(x_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [34]:
accuracy2=accuracy_score(y_test,y_pred)

In [35]:
print(accuracy2)

0.9565978101365843

In [36]:
print('Difference between both models: ',(accuracy-accuracy2))

Difference between both models:  0.0