In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('recommend.csv')

In [3]:
data.head()

   196  242  3  881250949
0  186  302  3  891717742
1   22  377  1  878887116
2  244   51  2  880606923
3  166  346  1  886397596
4  298  474  4  884182806

In [6]:
data.shape

(26024289, 4)

In [44]:
df = data.iloc[:999,:]

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 4 columns):
userId       999 non-null int64
movieId      999 non-null int64
rating       999 non-null float64
timestamp    999 non-null int64
dtypes: float64(1), int64(3)
memory usage: 31.3 KB

In [46]:
df.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [47]:
import numpy as np
n_users = np.unique(df.userId).shape[0]

In [48]:
n_users

15

In [49]:
n_movies = np.unique(df.movieId).shape[0]

In [50]:
n_movies

774

In [51]:
train_data, test_data = train_test_split(df, test_size=0.25, random_state=12)

In [57]:
train_data_matrix = np.zeros((n_users,n_movies))

In [58]:
for line in train_data.itertuples():
    train_data_matrix[line[1]-1,line[2]-1] = line[3]
train_data_matrix

for line in train_data.itertuples():
    train_data_matrix[line[1]-1,line[2]-1] = line[3]
train_data_matrix

from sklearn.metrics import pairwise_distances
user_similarity = pairwise_distances(train_data_matrix, metric = 'cosine')
movie_similarity = pairwise_distances(train_data_matrix.T, metric = 'cosine')
mean_user_rating = train_data_matrix.mean(axis=1)[:,np.newaxis]
rating_diff = (train_data_matrix - mean_user_rating)
user_pred = mean_user_rating + user_similarity.dot(ratings_diff)/np.array([np.abs(user_similarity).sum(axis=1)]).T

IndexError: index 35835 is out of bounds for axis 1 with size 774